<?xml version="1.0"?>
<settings>
	<servers>
		<server>
			<id>MuleRepository</id>
			<username>verdigris.nexus</username>
			<password>Lmuuknnx</password>
		</server>
		<server>
			<id>git</id>
			<username>Ganesh-Nyati</username>
			<password>TestGitHub2020</password>
		</server>
	</servers>
	<pluginGroups>
		<pluginGroup>org.mule.tools</pluginGroup>
	</pluginGroups>

	<profiles>
		<!-- mule-public profile -->

		<profile>
			<id>mule-extra-repos</id>
			<repositories>
				<repository>
					<id>mule-public</id>
					<url>
						https://repository.mulesoft.org/nexus/content/repositories/public </url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>mule-public</id>
					<url>
						https://repository.mulesoft.org/nexus/content/repositories/public </url>
				</pluginRepository>
			</pluginRepositories>
		</profile>

		<!-- mule-ee -->
		<profile>
			<id>mule-ee</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>MuleRepository</id>
					<name>MuleRepository</name>
					<url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>mule-extra-repos</activeProfile>
		<activeProfile>mule-ee</activeProfile>
	</activeProfiles>
</settings>